.App {
  text-align: center;
  margin: 20px;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-content {
  width: 1024px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgba(26, 56, 94, 80%);
  border-radius: 32px;
}

.current-temp {
  background-color: rgb(93, 129, 158);;
  border-radius: 32px;
}

.current-info {
  margin: 48px 8px 32px 16px;
}

.SevenDayForecast {
  background-color: rgb(93, 129, 158);
  border-radius: 32px;
}

h2 {
  margin: 0;
}

body {
  background: url('https://res.cloudinary.com/jnto/image/upload/w_750,h_503,fl_lossy,f_auto/v1531981666/fujiguide/SG010_6') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li {
  list-style-type: none;
}

